*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

.barra-superior {
    color: white;
    padding: 10px 0;
    text-align: center;
}

.Jull{
    color: #fb8500;
}
.ians{
    color: #4d4d4d;
}

.Jullians {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;

}

.navegacion{
    display: flex;
    justify-content: center;
    gap: 20px;
    border: #f0f0eb 1.4px solid;
}

.navegacion a {
    text-decoration: none;
    color: #fb8500;
    font-weight: bold;
    transition: color 0.3s ease;
    
}

.textocortoimg{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img-textocorto {
    max-width: 100%;
    height: auto;
}